@charset "UTF-8";
@import url('');

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}


nav {
    margin-top: 10px;
    text-align: center;
}
.github{
    color:blueviolet;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #ffffff
}

h1 {
    font-family: 'Open Sans', sans-serif;

}

#logonombre2{
    width: 50%;
    height: 50%;
    position: relative;
    align-self: center;
    top:0px;
}

section{

    text-align: left;
}

#textoPrincipal{
    text-align: center;
}

nav a{
    position: relative;
    top:0px;
    font-size: 15px;
    text-transform: uppercase;
    color: black;
    /* color del texto*/
    text-decoration: none;
    line-height: 40px;
    z-index: 1;
    display: inline-block; /*display inline block para que se alineen horizontalmente*/
    text-align: center;
} 

nav.animation{

    top: 0;
    z-index: index;
    background: #0d2b25;
    border-radius: 8px;
    transition: all .5s ease 0s;
}

nav a:nth-child(1){
    width: 100px;
}

nav .start-home, a:nth-child(1):hover~.animation{
    width: 100px;
    left: 0;
}

nav a:nth-child(2){
    width:100px;
}

nav a:nth-child(2):hover~.animation{
    width: 110px;
    left: 100px;
}

nav a:nth-child(3){
    width: 100px;
}

nav a:nth-child(3):hover~.animation{
    width: 100px;
    left: 200px;
}

nav a:nth-child(4):hover~.animation{
    width: 160px;
    left: 310px;
}

nav a:nth-child(4):hover~.animation{
    width: 160px;
    left: 310px;
}

nav a:nth-child(5){
    width: 120px;
}

nav a:nth-child(5):hover~.animation{
width: 120px;
left: 470px;
}

h1{
    font-family: 'Open Sans', sans-serif;
}
footer{
    font-size: 10px;

}



#box1{
    background-color: white;
    
}
#box2{
    background-color: white;
}
#box3{
    background-color: white;
}

#box4{
    background-color: white;
}
#box5{
background-color: white;}
#box6{
    background-color: white;
}

#box7{
    background-color: white;
    ;
}
#box8{
    background-color: white;
}
#box9{
    background-color: white;
}

aside{
    text-align: right;
}


imagenes.style {
    display: flex;
    flex-direction: row;
}


